body {
    background: url(../images/star.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Gelasio', serif;
    height: 80vh;
}
  }

  .jumbotron {
    height: 150px;
    color: black;
    background: cornsilk;
    padding-bottom: 20px;
    padding-top: 35px;
    width: 55%;
    margin-left: 22.5%;
    margin-top: 3%;
  }

  .input-group {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    border-color: black;
  }

  h3 {
    text-align: center;
  }

  #city {
    border-color: black;
  }

  #signinBtn {
    background-color: cornsilk;
    border-color: cornsilk;
    color: black;
    margin-top: 2%;
    margin-left: 90%;
  }

  .nav {
    background-color: cornsilk;
  }

  .nav-link {
    color: black;
  }

  .nav4 {
    position: absolute;
    margin-left: 65%;
  }

  .github {
    color: black;
  }

  #userInput {
    border-color: black;
  }

  #dashbox {
    margin-top: 1%;
  }

  #bookRow {
    padding-top: 5vh;
  }
  
  .column {
    float: left;
    width: 38%;
    margin-left: 8%;
  }

  .column2 {
    float: left;
    width: 42%;
    margin-left: 8%;

  }
  
  #titleInventory {
  background-color: cornsilk;
  border-color: cornsilk;
  color: black;
  margin-top: 2%;
  margin-left: 90%;
}

.nav {
  background-color: cornsilk;
  height: 10vh;
}

.nav-link {
  color: black;
  margin-top: 2vh;
  margin-left: 5vh;
}

.nav4 {
  position: absolute;
  margin-left: 70%;
}

.github {
  color: black;
}

#userInput {
  border-color: black;
}

#dashbox {
  margin-top: 1%;
}

#bookRow {
  padding-top: 5vh;
}

.column {
  float: left;
  width: 38%;
  margin-left: 9%;
}

#titleInventory {
  background-color: cornsilk;
}
  
#titleWishlist {
  background-color: cornsilk;
}

#userWishlist {
  margin-right: 10%;
}

footer {
  padding: 2.5vh;
  background-color: cornsilk;
  margin-top: 90vh;
  text-align: center;
  height: 10vh;
}
