body {
    background: url(../images/star.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Gelasio', serif;
}

.container {
    position: relative;
    top: 25.5vh;
    width: 70%;
}

.jumbotron {
    
    padding-top: 3%;
    height: 275px;
    text-shadow: 1px 1px black;
    color: black;
    background: cornsilk;
}

.input-group {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    border-color: black;
}

.display-4 {
    text-align: center;
}

#inputEmail, 
#inputPassword {
    border-color: black;
}

.nav {
    background-color: cornsilk;
  }
  
  .nav-link {
    color: black;
  }

  .nav4 {
    position: absolute;
    margin-left: 65%;
  }
