  body {
    background: url(../images/star.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Gelasio', serif;
  }

  .container {
    position: relative;
    top: 17vh;
    width: 70%;
  }

  .jumbotron {
    height: 275px;
    text-shadow: 1px 1px black;
    color: black;
    background: cornsilk;
  }

  .input-group {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    border-color: black;
  }

  .display-4 {
    text-align: center;
  }

  #city {
    border-color: black;
  }

  #signinBtn {
    background-color: cornsilk;
    border-color: cornsilk;
    color: black;
    margin-top: 2%;
    margin-left: 90%;
  }

  .nav {
    background-color: cornsilk;
  }

  .nav-link {
    color: black;
  }

  .nav4 {
    position: absolute;
    margin-left: 65%;
  }

  footer {
    padding: 8px;
    background-color: cornsilk;
    margin-top: 39vh;
    text-align: center;
  }

  .github {
    color: black;
  }



  /* sign up page */
  .signupJumbo {
    padding-top: 3%;
  }

  .display-4 {
    text-align: center;
  }

  #inputEmail,
  #inputPassword {
    border-color: black;
  }



  /* dashboard page */
  #userInput {
    border-color: black;
  }

  p {
    font-family: 'Gelasio', serif;
  }

  /* profile-set-up */
  #userProfile {
    margin-top: -5%;
  }

  #inputFirstName,
  #inputLastName,
  #inputLocation {
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
  }