body {
    background: url(../images/star.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

.container {
    position: relative;
    top: 15vh;
    width: 70%;
}

.jumbotron {
    height: 25%;
    text-shadow: 1px 1px black;
    color: black;
    background: cornsilk;
}

.input-group {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    border-color: black;
}

.display-4 {
    text-align: center;
}

#city {
    border-color: black;
}

#signinBtn {
  background-color: cornsilk;
  border-color: cornsilk;
  color: black;
  margin-top: 2%;
  margin-left: 90%;
}